# UI
streamlit

# API
fastapi
uvicorn

# Document processing
pdfplumber

# Embeddings
sentence-transformers

# vectore store
faiss-cpu

# LLM
transformers
torch

# utilities
numpy
pydantic
loguru
accelerate
bitsandbytes
python-multipart

# OCR
pytesseract
pdf2image
pillow
pypdf
